.home,
body {
  position: relative;
  z-index: -1;
}

.search-form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 800px;
  height: 60px;
  margin-left: auto;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: -1;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  /* position: absolute; */
  position: relative;
  left: 35px;
  z-index: 1000;
  padding-left: 15px;
}

.search-text {
  position: relative;
  width: 300px;
  height: 30px;
  padding: 5px;
  padding-left: 50px;
  padding-right: 45px;
  border-radius: 55px;
  font-size: 17px;
  border: none;
  outline: none;
}

.style-div {
  position: relative;
  display: flex;
  height: 30px;
  display: flex;
  align-items: center;
  right: 0;
  width: 100vw;
  z-index: -1;
  /* top: 50%;
  left: 20%; */
  /* transform: translate(-50%, -50%); */
}

.cancel-button {
  background: transparent;
  position: relative;
  right: 20px;
  top: 1px;
  /* left: 230px; */
  border: none;
  outline: none;
  padding-right: 10px;
  cursor: pointer;
}

.avatar {
  padding: 10px;
  /* position: relative; */
}

.tag {
  /* position: absolute; */
  position: relative;
  right: 100px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 10px 0 3px;
  border-radius: 80px;
  cursor: pointer;
  margin-left: 50px;
}

.tag > p {
  font-size: 12px;
  font-family: Arial;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.avatar-img {
  /* position: absolute; */
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
  border: 2px solid black;
  color: white;
  background-color: #313131;
}

.dashboard {
  height: calc(80vh - 13px);
  overflow: scroll;
}
.dashboard::-webkit-scrollbar {
  display: none;
}

.artist-h1,
.album-h1,
.track-h1 {
  color: white;
  font-family: Arial;
  font-weight: 700;
  margin: 30px 0 10px 30px;
}

.album {
  /* background-color: blue; */
  padding: 20px;
  padding-bottom: 3px;
  padding-left: 0;
  overflow-x: scroll;
  display: flex;
  margin-left: 50px;
}
.album::-webkit-scrollbar {
  height: 7px;
}
.album::-webkit-scrollbar-corner {
  display: none;
}
.album::-webkit-scrollbar-track {
  background-color: transparent;
}
.album::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.album::-webkit-scrollbar-thumb:hover {
  background-color: #212121;
}
.album-card {
  background-color: #181818;
  /* width: fit-content; */
  max-width: 230px;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 10px;
}
.album-card > img {
  height: 200px;
  object-fit: contain;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
}
.album-card > h3,
.album-card > p {
  margin: 0;
  text-align: left;
  text-transform: capitalize;
}
.album-card > h3 {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
}
.album-card > p {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
}

.artist {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
}
.artist-card {
  background-color: #131313;
  width: calc(100% / 6);
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  border: 1px solid #181818;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.artist-card > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #313131;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}
.artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.artist-info > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-info > h4,
.artist-info > div > p {
  font-family: Arial;
  color: #b3b3b3;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-info > h4 {
  margin-bottom: 3px;
  width: 150px;
}
.artist-info > div > p {
  max-width: 100px;
  font-size: 12px;
  margin: 5px;
}
.artist-info > div > p:first-child {
  margin-left: 0;
}

.track {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-left: 50px;
}
.track::-webkit-scrollbar {
  height: 7px;
}
.track::-webkit-scrollbar-corner {
  display: none;
}
.track::-webkit-scrollbar-track {
  background-color: transparent;
}
.track::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.track::-webkit-scrollbar-thumb:hover {
  background-color: #212121;
}

.track-h1 {
  margin-bottom: 30px;
}
.track-card {
  width: fit-content;
  background-color: #131313;
  display: flex;
  justify-content: flex-start;
  color: #b3b3b3;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000000;
  margin: 2.5px 200px 2.5px 0;
  cursor: pointer;
}
.track-card:last-child {
  /* margin-bottom: 30px; */
}
.track-card:hover {
  opacity: 0.7;
}
.track-image {
  /* position: relative; */
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 50px 0 20px;
}
.track-image > img:first-child {
  height: 55px;
  object-fit: contain;
  margin-left: 10px;
}
.play-pause-button {
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}
.track-card:hover .play-pause-button {
  opacity: 1;
  pointer-events: all;
}
.track-info {
  /* position: relative; */
  display: flex;
  align-items: center;
  /* width: 70%; */
  padding: 18px;
  justify-content: space-between;
}
.track-info > h3,
.track-info > p {
  margin: 0;
  font-family: Arial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.track-info > h3 {
  margin-right: 100px;
  font-size: 19px;
  width: 300px;
}
.track-info > p {
  font-size: 14px;
  margin-right: 60px;
}
.track-info > p:last-child {
  width: 50px;
  margin-right: -10px;
}
.full-track-view {
  display: flex;
  align-items: center;
  /* position: relative; */
  margin-right: 50px;
  cursor: pointer;
}

.footer {
  position: relative;
  background-color: #181818;
  display: flex;
  align-items: center;
  padding: 15px 70px 15px 50px;
  z-index: 10000;
}

.song {
  display: flex;
  align-items: center;
  color: #b3b3b3;
  font-family: Arial;
  width: 430px;
}
.song-cover > img {
  height: 60px;
  object-fit: contain;
  background-color: #131313;
  margin-right: 10px;
}
.song-info {
  width: 200px;
}
.song-info > h4,
.song-info > p {
  margin: 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.song-info > h4 {
  font-weight: 500;
  color: white;
}
.song-info > p {
  color: grey;
  font-size: 12px;
}

.complete-playlist-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  top: 100%;
  display: none;
  z-index: 5000;
  overflow: auto;
}
.complete-playlist-container::-webkit-scrollbar {
  width: 7px;
}
.complete-playlist-container::-webkit-scrollbar-corner {
  display: none;
}
.complete-playlist-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.complete-playlist-container::-webkit-scrollbar-thumb {
  background-color: #313131;
}
.complete-playlist-container::-webkit-scrollbar-thumb:hover {
  background-color: #181818;
}
.complete-playlist {
  margin-left: 50px;
  overflow: scroll;
  overflow-x: hidden;
}
.complete-playlist::-webkit-scrollbar {
  width: 7px;
}
.complete-playlist::-webkit-scrollbar-corner {
  display: none;
}
.complete-playlist::-webkit-scrollbar-track {
  background-color: transparent;
}
.complete-playlist::-webkit-scrollbar-thumb {
  background-color: #313131;
}
.complete-playlist::-webkit-scrollbar-thumb:hover {
  background-color: #181818;
}
.complete-playlist > .track-card {
  width: 80%;
  min-width: 650px;
  margin-right: 50px;
  cursor: auto;
  padding: 0;
  padding: 5px;
}
.complete-playlist > .track-card:hover {
  background-color: #313131;
  opacity: 1;
}
.complete-playlist > .track-card:first-child {
  margin-top: 50px;
}
.complete-playlist > .track-card:last-child {
  margin-bottom: 100px;
}
.complete-playlist > .track-card > .track-info {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.complete-playlist > .track-card > .track-info > p,
.complete-playlist > .track-card > .track-info > h3 {
  margin: 0;
  min-width: 280px;
}
.complete-playlist > .track-card > p {
  margin-left: auto;
  font-family: Arial;
}
.exit-button {
  position: fixed;
  background: transparent;
  border: none;
  outline: none;
  top: 2%;
  left: 92%;
  cursor: pointer;
}
.exit-button > img {
  height: 40px;
}

.spinner {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 30px;
  transform: translateY(-52%);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
